        <footer style="position: absolute; bottom: 0; width: 98%; height: 50px; display: flex; justify-content: center; align-items: center; background-color: gray; margin-bottom: 5px;">
            Created with ExpressJS and EJS
        </footer>
    </body>
</html>